<!--<footer class="footer-area pdtop80" style="height : 50px !important">
    <div class="container">
        <div class="row">

            <!--Start single footer widget-->
            <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget marbtm50">
                    <div class="about-us">
                        <div class="footer-logo fix">
                            <a href="/Home/Index">
                                <img src="~/Content/images/resources/logo-2.png" alt="Awesome Logo">
                            </a>
                        </div>-->
                       @* <div class="text-box fix">
                            <p>Dento was started in the year 1995 as a small private dental clinic in Binghamton, NY, USA. Looking for affordable dental care?</p>
                            <p class="bottom-text">
                                To take a trivial example, which of us ever undertakes laborious physical
                                exercise, except to obtain.
                            </p>
                        </div>
                        <div class="button fix">
                            <a class="btn-one" href="#">Read More</a>
                        </div>*@
                    <!--</div>
                </div>
            </div>-->
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <!--@*<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget martop6 marbtm50">
                    <div class="title">
                        <h3>Specialities</h3>
                    </div>
                    <ul class="specialities">
                        <li><a href="#">Dental Implants</a></li>
                        <li><a href="#">Laser Dentistry</a></li>
                        <li><a href="#">Cosmetic Dentistry</a></li>
                        <li><a href="#">Orthodontics</a></li>
                        <li><a href="#">Pedodontics</a></li>
                        <li><a href="#">Prosthodontics</a></li>
                        <li><a href="#">Oral & Maxsillosacial</a></li>
                    </ul>
                </div>
            </div>*@-->
            <!--<!--End single footer widget-->
            <!--Start single footer widget-->
            <!--@*<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget martop6 pdbtm50">
                    <div class="title">
                        <h3>Facilities</h3>
                    </div>
                    <ul class="facilities">
                        <li><a href="#">Individual Tooth X-Ray</a></li>
                        <li><a href="#">Intensive Care Unit</a></li>
                        <li><a href="#">Blood Bank</a></li>
                        <li><a href="#">Critical Care Areas</a></li>
                        <li><a href="#">Laboratories</a></li>
                        <li><a href="#">Scale and Clean</a></li>
                        <li><a href="#">Fissure Sealants</a></li>
                    </ul>
                </div>
            </div>*@-->
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget martop6 pdtop-50">
                    <div class="title">
                        <h3>Website Y Tế Bệnh Viện</h3>
                    </div>
                </div>
            </div>-->
            <!--End single footer widget-->

        <!--</div>
    </div>
</footer>-->
<!--End footer area-->
<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="footer-social-links float-left">
                        <ul class="sociallinks-style-one">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="copyright-text text-center">
                        <p>© <a href="#">Y Tế</a> 2025, Website Y Tế.</p>
                    </div>
                    <ul class="footer-menu float-right">
                        <li><a href="#">Dịch vụ & Tin tức</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
