USE [master]
GO
/****** Object:  Database [DBYTeAspMVC]    Script Date: 12/16/2023 13:45:02 ******/
CREATE DATABASE [DBYTeAspMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBYTeAspMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBYTeAspMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBYTeAspMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBYTeAspMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBYTeAspMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBYTeAspMVC]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advises]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advises](
	[IdAdvise] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Created] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Advises] PRIMARY KEY CLUSTERED 
(
	[IdAdvise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[IdBooking] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](255) NULL,
	[Time] [int] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdDoctor] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[IdBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[IdDoctor] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Specialist] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Describe] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[IdDoctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Numbers]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Numbers](
	[IdNumber] [int] IDENTITY(1,1) NOT NULL,
	[NumberInt] [int] NOT NULL,
	[Day] [nvarchar](max) NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Numbers] PRIMARY KEY CLUSTERED 
(
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[IdPost] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[IdPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[IdService] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Created] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/16/2023 13:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[Created] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advises] ON 

INSERT [dbo].[Advises] ([IdAdvise], [FullName], [Email], [Question], [Created]) VALUES (1, N'hihi', N'hihi@gmail.com', N'kkkkkkk', N'6/20/2023 5:06:00 PM')
INSERT [dbo].[Advises] ([IdAdvise], [FullName], [Email], [Question], [Created]) VALUES (2, N'codedoan', N'codedoan@gmail.com', N'hello bác sĩ mình cần tư vấn....', N'6/20/2023 10:11:55 PM')
INSERT [dbo].[Advises] ([IdAdvise], [FullName], [Email], [Question], [Created]) VALUES (3, N'nnnnnn', N'nnnnnn@gmail.com', N'fghfgh', N'12/16/2023 11:14:57')
SET IDENTITY_INSERT [dbo].[Advises] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([IdBooking], [Day], [Time], [Reason], [Status], [IdUser], [IdDoctor]) VALUES (1, N'2023-06-20', 0, N'fff', 1, 2, 2)
INSERT [dbo].[Bookings] ([IdBooking], [Day], [Time], [Reason], [Status], [IdUser], [IdDoctor]) VALUES (2, N'2023-06-29', 14, N'sdsđ', 0, 2, 3)
INSERT [dbo].[Bookings] ([IdBooking], [Day], [Time], [Reason], [Status], [IdUser], [IdDoctor]) VALUES (3, N'2020-06-21', 8, N'lll', 0, 2, 1)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([IdDoctor], [Email], [FullName], [Password], [Specialist], [Image], [Describe], [Status]) VALUES (1, N'vietthanh@gmail.com', N'TS. BS. Phạm Việt Thanh', N'123456', N'Thú Y', N'638383257337919005nguyen-thi-ly-bac-si-thu-y23-683x1024 (1).jpg', N' Bác sĩ tận tình chu đáo, luôn giúp đỡ thú cưng, chăm sóc tốt nhất', 1)
INSERT [dbo].[Doctors] ([IdDoctor], [Email], [FullName], [Password], [Specialist], [Image], [Describe], [Status]) VALUES (2, N'bichhai@gmail.com', N'BS. CKI. Nguyễn Bích Hải', N'123456', N'Thuú Y', N'638383257648202213nguyen-thi-thu-thao-bac-si-thu-y-683x1024.jpg', N' Bác sĩ tận tình chu đáo, luôn giúp đỡ Thú cưng, chăm sóc tốt nhất', 1)
INSERT [dbo].[Doctors] ([IdDoctor], [Email], [FullName], [Password], [Specialist], [Image], [Describe], [Status]) VALUES (3, N'dung@gmail.com', N'BS. CKI. Nguyễn Kim Dung', N'123456', N'Thú y', N'638383258118561431nguyen-nhat-an-khang-683x1024.jpg', N' Bác sĩ tận tình chu đáo, luôn giúp đỡ Thú cưng, chăm sóc tốt nhất', 1)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Numbers] ON 

INSERT [dbo].[Numbers] ([IdNumber], [NumberInt], [Day], [IdUser]) VALUES (3, 1, N'12/16/2023 00:00:00', 5)
INSERT [dbo].[Numbers] ([IdNumber], [NumberInt], [Day], [IdUser]) VALUES (4, 2, N'12/16/2023 00:00:00', 6)
INSERT [dbo].[Numbers] ([IdNumber], [NumberInt], [Day], [IdUser]) VALUES (5, 3, N'12/16/2023 00:00:00', 7)
SET IDENTITY_INSERT [dbo].[Numbers] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [Name]) VALUES (1, N'Người dùng')
INSERT [dbo].[Roles] ([IdRole], [Name]) VALUES (2, N'Quản trị ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [Email], [FullName], [Password], [PhoneNumber], [Address], [Gender], [Status], [IdRole], [Created]) VALUES (1, N'admin@gmail.com', N'Quản trị viên', N'123456', N'0394073645', N'Hà Nội', N'Nam', 1, 2, NULL)
INSERT [dbo].[Users] ([IdUser], [Email], [FullName], [Password], [PhoneNumber], [Address], [Gender], [Status], [IdRole], [Created]) VALUES (2, N'hihi@gmail.com', N'hihi', N'123456', N'0364877525', N'hcm', N'Nữ', 1, 1, N'6/20/2023 5:03:32 PM')
INSERT [dbo].[Users] ([IdUser], [Email], [FullName], [Password], [PhoneNumber], [Address], [Gender], [Status], [IdRole], [Created]) VALUES (3, N'codedoan@gmail.com', N'codedoan', N'codedoan', N'0987654323', N'hcm q10', N'Nữ', 1, 1, N'6/20/2023 10:10:24 PM')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_IdDoctor]    Script Date: 12/16/2023 13:45:03 ******/
CREATE NONCLUSTERED INDEX [IX_IdDoctor] ON [dbo].[Bookings]
(
	[IdDoctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUser]    Script Date: 12/16/2023 13:45:03 ******/
CREATE NONCLUSTERED INDEX [IX_IdUser] ON [dbo].[Bookings]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUser]    Script Date: 12/16/2023 13:45:03 ******/
CREATE NONCLUSTERED INDEX [IX_IdUser] ON [dbo].[Numbers]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdRole]    Script Date: 12/16/2023 13:45:03 ******/
CREATE NONCLUSTERED INDEX [IX_IdRole] ON [dbo].[Users]
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Doctors_IdDoctor] FOREIGN KEY([IdDoctor])
REFERENCES [dbo].[Doctors] ([IdDoctor])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Doctors_IdDoctor]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Users_IdUser]
GO
ALTER TABLE [dbo].[Numbers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Numbers_dbo.Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Numbers] CHECK CONSTRAINT [FK_dbo.Numbers_dbo.Users_IdUser]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_IdRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_IdRole]
GO
USE [master]
GO
